<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>TrulyNolen</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">

      <link rel="stylesheet" href="css/FormularioStyle.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <link rel="stylesheet" href="css/VentasFormulario.css">
      <!-- Tweaks for older IEs-->
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link rel="shortcut icon" href="images/favicon-32x32-.png">
   </head>
   <!-- body -->
   <body class="main-layout position_head">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                 <a class="nav-link" href='/main'><i class="fa-solid fa-house fa-fade" style="color: #029ec5;"></i></a>
                              </li>
                                <li class="nav-item">
                                   <a class="nav-link" href="/truly"><i class="fa-solid fa-user-pen fa-beat"></i> Trulyn</a>
                                </li>
                                <li class="nav-item">
                                   <a class="nav-link" href="/ventas"><i class="fa-solid fa-tag fa-beat"></i> Ventas </a>
                                </li>
                                <li class="nav-item">
                                   <a class="nav-link" href="/postventa"><i class="fa-solid fa-check-double fa-beat"></i> Post Ventas</a>
                                </li>
                                <li class="nav-item d_none login_btn">
                                   <a class="nav-link"  type="button" id="CerrarSesion"><i class="fa-solid fa-arrow-right-from-bracket fa-fade"></i>  Cerrar Sesión</a>
                                </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
<!--
      <div class="container">
         <main class="table">
            <section class="table__header">
                <h1>Ventas por aprobar</h1>
                <!--<div class="input-group">
                    <input type="search" placeholder="Search Data...">
                    <img src="images/search.png" alt="">
                </div>
                <div class="export__file">
                    <label for="export-file" class="export__file-btn" title="Export File"></label>
                    <input type="checkbox" id="export-file">
                    <div class="export__file-options">
                        <label>Export As &nbsp; &#10140;</label>
                        <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                        <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                        <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                        <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                    </div>
                </div>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                     <tr>
                        <th class="centered">Idservicio</th>
                        <th class="centered">Vendedor</th>
                        <th class="centered">Cliente</th>
                        <th class="centered">Nivel de servicio</th>
                        <th class="centered">Fecha Inicio</th>
                        <th class="centered">CFecha fin</th>
                        <th class="centered">Frecuencia</th>
                        <th class="centered">valor Temtativo</th>
                        <th class="centered">Estado</th>
                        <th class="centered">Observaciones </th>
                        
                       
                    </tr>
                     <% resultado.forEach((ventas) => { %>
                        <tr>
                            <th><%= ventas.ServidorId %></th>
                            <th> <%= ventas.Vendedor %></th>
                            <th> <%= ventas.Cliente %></th>
                            <th> <%= ventas.nivelServicio %></th>
                            <th> <%= ventas.FechaInicio %></th>
                            <th> <%= ventas.FechaFin %></th>
                            <th> <%= ventas.frecuecia %></th>
                            <th> <%= ventas.valorTentativo %></th>
                            <th> <%=  ventas.Estado %></th>
                            <th> <%= ventas.observaciones %></th>
                          
                            <th> Observaciones <span class="icon-arrow">&UpArrow;</span></th> Para que salga el icono de la fecha
                        </tr>
                        <% }); %>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </section>
        </main>

      </div>

   -->
      <div class="container1">
         <div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
            <ul class="nav nav-tabs">
               <li class="nav-item">
               <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">Ventas por Aprobar</a>
               </li>
               <li class="nav-item">
               <a class="nav-link" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">Ventas Aprobadas</a>				   	
               </li>
               <li class="nav-item">
                  <a class="nav-link" id="form-tab" data-toggle="tab" href="#form1" role="tab" aria-controls="form" aria-selected="true">Ventas Canceladas</a>				   	
               </li>
            </ul>
            <div class="tab-content" id="myTabContent">
               <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
                  <div class="card">
                  <div class="card-header">
                        <h4>Ventas por Aprobar</h4>
                     </div>
                     <div class="card-body">
                        <div class="table-responsive">
                           <table id="userList" class="table table-bordered table-hover table-striped">
                              <thead class="thead-light">
                              <tr>
                                 <th class="centered">Idservicio</th>
                                 <th class="centered">Vendedor</th>
                                 <th class="centered">Cliente</th>
                                 <th class="centered">Nivel de servicio</th>
                                 <th class="centered">Fecha Inicio</th>
                                 <th class="centered">CFecha fin</th>
                                 <th class="centered">Frecuencia</th>
                                 <th class="centered">valor Temtativo</th>
                                 
                                 <th class="centered">Observaciones </th>
                                 <th class="centered">Acción </th>
                              </tr>
                              </thead>
          
                                 <tbody id="tableBody_users">
                             
                                    <% resultado.forEach((ventas) => { %>
                                <tr>
                                 <th><%= ventas.ServidorId %></th>
                                 <th> <%= ventas.Vendedor %></th>
                                 <th> <%= ventas.Cliente %></th>
                                 <th> <%= ventas.nivelServicio %></th>
                                 <th> <%= ventas.FechaInicio %></th>
                                 <th> <%= ventas.FechaFin %></th>
                                 <th> <%= ventas.frecuecia %></th>
                                 <th> <%= ventas.valorTentativo %></th>
                                 <th> <%= ventas.observaciones %></th> 
                                 <th> <%= ventas.Acción %> </th> 

                                </tr>    
                                    <% }); %>
                                   
                                </tbody> 
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
                  <div class="card">
                     <div class="card-header">
                        <h4>Ventas Aprobadas</h4>
                     </div>
                     <div class="card-body">
                        <div class="table-responsive">
                           <table id="userList" class="table table-bordered table-hover table-striped">
                              <thead class="thead-light">
                              <tr>
                                 <th class="centered">Idservicio</th>
                                 <th class="centered">Vendedor</th>
                                 <th class="centered">Cliente</th>
                                 <th class="centered">Nivel de servicio</th>
                                 <th class="centered">Fecha Inicio</th>
                                 <th class="centered">CFecha fin</th>
                                 <th class="centered">Frecuencia</th>
                                 <th class="centered">valor Temtativo</th>
                                 <th class="centered">Estado</th>
                                 <th class="centered">Observaciones </th>
                              </tr>
                              </thead>
          
                                 <tbody id="tableBody_users">
                             
                                    <% resultado.forEach((ventas) => { %>
                                <tr>
                                 <th><%= ventas.ServidorId %></th>
                                 <th> <%= ventas.Vendedor %></th>
                                 <th> <%= ventas.Cliente %></th>
                                 <th> <%= ventas.nivelServicio %></th>
                                 <th> <%= ventas.FechaInicio %></th>
                                 <th> <%= ventas.FechaFin %></th>
                                 <th> <%= ventas.frecuecia %></th>
                                 <th> <%= ventas.valorTentativo %></th>
                                 <th class="status delivered" > <%= ventas.Estado %> </th>
                                 <th> <%= ventas.observaciones %></th>  
                                </tr>    
                                    <% }); %>
                                   
                                </tbody> 
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tab-pane fade" id="form1" role="tabpanel" aria-labelledby="form-tab">
                  <div class="card">
                     <div class="card-header">
                        <h4>Ventas Canceladas</h4>
                     </div>
                     <div class="card-body">
                        <div class="table-responsive">
                           <table id="userList" class="table table-bordered table-hover table-striped">
                              <thead class="thead-light">
                              <tr>
                                 <th class="centered">Idservicio</th>
                                 <th class="centered">Vendedor</th>
                                 <th class="centered">Cliente</th>
                                 <th class="centered">Nivel de servicio</th>
                                 <th class="centered">Fecha Inicio</th>
                                 <th class="centered">CFecha fin</th>
                                 <th class="centered">Frecuencia</th>
                                 <th class="centered">valor Temtativo</th>
                                 <th class="centered">Estado</th>
                                 <th class="centered">Observaciones </th>
                              </tr>
                              </thead>
          
                                 <tbody id="tableBody_users">
                             
                                    <% resultado.forEach((ventas) => { %>
                                <tr>
                                 <th><%= ventas.ServidorId %></th>
                                 <th> <%= ventas.Vendedor %></th>
                                 <th> <%= ventas.Cliente %></th>
                                 <th> <%= ventas.nivelServicio %></th>
                                 <th> <%= ventas.FechaInicio %></th>
                                 <th> <%= ventas.FechaFin %></th>
                                 <th> <%= ventas.frecuecia %></th>
                                 <th> <%= ventas.valorTentativo %></th>
                                 <th class="status cancelled"> <%=  ventas.Estado %></th>
                                 <th> <%= ventas.observaciones %></th>  
                                </tr>    
                                    <% }); %>
                                   
                                </tbody> 
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <br>
      <br>
      <br>
      <!-- end header inner -->
      <!-- end header -->
      <!-- about section -->
      <div class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="about_img">
                  </section>
                  <section>
                      <div class="box">
                          <div class="container">
                  
                              <div id="dycalendar"></div>
                          </div>
                     
                      </div>
                  
                  </section>
                  </div>
               </div>
               
            </div>
         </div>
      </div>
      <!-- about section -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-8 offset-md-2">
                     <ul class="location_icon">
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br> Ubicacón</li>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a><br>+504 32964280</li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a><br> TrulyNolen@gmail.com</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2023 Derechos Reservados.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script src="main.js"></script>
   </body>
</html>